<%- include ('partials/header') -%>

<% if (errors) { %>
  <div class="mt-4">
    <% errors.forEach(error => { %>
      <div class="alert alert-danger"><%= error.msg %> </div>
    <% }) %>
  </div>
<% } %>

<h1>Add Article</h1>
<form action="/articles/add" method="post">
  <div id="form-group">
    <label>Title:</label>
    <input type="text" class="form-control" name="title" />
  </div>
  <div id="form-group">
    <label>Body:</label>
    <textarea class="form-control" name="body"></textarea>
  </div>
  <br>
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>
<%- include ('partials/footer') -%>
